.spaceSignUp {
    width: 100%;
    height: 100px;
    background-color: black;
}
.heroContainer2 {
    width: 100vw;
    background-color: rgb(230,233,241);
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.heroLeftContainer2 {
    padding-left: 50px;
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.heroLeftTitle2 {
    width: 35vw;
    word-wrap: break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    font-weight: bolder;
    text-align: left;
    color: rgb(17,19,114);
    line-height: 1.5em;
}
.heroLeftContainer2 label {
    width: 35vw;
    word-wrap: break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    text-align: left;
    color: rgb(17,19,114);
}
.heroLeftContainer2 label span {
    color: rgb(168, 211, 14);
    font-weight: bolder;
}
.heroLeftContainer2 button {
    margin-top: 50px;
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s linear;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    font-weight: 500;
    background-color: rgb(168, 211, 14);
    color:white;
    box-shadow: 0px 0px 10px 11px #dadada;
}

.heroLeftContainer2 button:hover {
    box-shadow: 0px 0px 1px 1px #dadada;
}

.heroRightContainer2 {
    width: 500px;
    height: 550px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 0 4px 4px rgb(230, 228, 228);
    position:relative;
}
.heroRightContainer2 input {
    width: 85%;
    align-self: center;
    cursor:text;
}

.heroRightContainer2 label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color:#333;
    position: absolute;
    top: 66vh;
    left: 12vw;
}
.heroRightContainer2 label span {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(17,19,114);
}

.heroRightContainer2 button {
    margin-top: 50px;
    width: 85%;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s linear;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
    font-weight: 500;
    align-self: center;
    background-color: rgb(17,19,114);
    color:white;
    box-shadow: 0px 0px 10px 11px #dadada;
    margin-left:40px;
}

.heroRightContainer2 button:hover {
    box-shadow: 0px 0px 1px 1px #dadada;
    background-color: rgb(168, 211, 14);
}
.DobDesign {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.DobDesign input {
    width: 60%;
    margin-right: 5px;
}